* {
    margin: 0;
    padding: 0;
}
#showparent{
    text-align: center;
}

#buyNow{
    background-color: rgb(55, 55, 247);
    display: block;
    margin: 10px auto;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
}
#pageActive {
    font-weight: 700;
    text-decoration: underline rgb(46, 46, 46) 4px;
    text-underline-offset: 10px;
}

.first_div>a {
    text-decoration: none;
    display: block;
    color: black;
}

.nav_switcher {
    padding: 0% 1%;
    height: 40px;
    border: 0.5px solid rgb(176, 176, 176);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* "Crate Helvetica", "Helvetica Neue", Helvetica, Arial; */

}

.first_div {
    display: flex;
    flex-direction: row;
}

.first_div>a {
    margin: auto 1%;
    font-size: 18px;
}

.first_div>p {
    margin: auto 1%;
}

.first_div>img {
    margin: auto 1%;
    width: 3%;
}

.cb2 {
    border: 2px solid;
    padding: 0% 1%;
}

.heighlight:hover {
    font-weight: 700;
    text-decoration: underline rgb(46, 46, 46) 4px;
    text-underline-offset: 12px;
    cursor: pointer;
}

#nav_logo {
    padding: 0% 2%;
    display: grid;
    /* grid-template-columns: 25% 30% 25%; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid; */
}


#nav_logo>div {
    display: none;

    justify-content: space-between;
}

#nav_logo>div>p,
#nav_logo>div>a>p {
    font-size: 20px;
    color: transparent;
    text-shadow: 0 0 0 black;
    text-decoration: none;
}

#nav_logo>a>img {
    height: 80px;
    cursor: pointer;
}

#displaypage {
    display: flex;
    justify-content: center;
}

#cartview {
    width: 450px;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(227, 254, 227);
}

#cartview>h2 {
    margin-bottom: 5%;
}

#cartview>div {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3%;
}

#cartview>div>img {
    width: 100%;
}

#cartview>div>div>h4 {
    margin: 3%;
}

#vertline {
    width: 1px;
    height: 100fr;
    opacity: 30%;
    background-color: black;
}

#likeview {
    width: 450px;
    margin: 1%;
    padding: 0.5%;
    background-color: rgb(248, 236, 238);
}

#likeview>div {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 3%;
}

#likeview>h2 {
    margin-bottom: 5%;
}

#likeview>div>img {
    width: 100%;
}

#likeview>div>div>button {
    margin-right: 3%;
}

#likeview>div>div>h4 {
    margin: 3%;
}
#message{
    position:fixed;
    top: 50vh;
    left: 35vw;
    display:none ;
}
#message>div{
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(115, 239, 115);
    padding: 20px;
}
#message>div>div>button,#message>div>div>a>button{
    font-size: 25px;
}
#message>div>p{
    font-size: 40px;
    margin: 15px;
}
#message>div>div{
    display: flex;
    justify-content: space-around;
}
#atpalceorder{
    display: none;
    width: 400px;
    margin: auto;
}

#showdetails{
    background-color: rgb(231, 230, 230);
    padding-bottom: 1px;
}
#showdetails>div{
    padding: 10px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    font-size: 25px;
    background-color: white;
    margin: 1px;
}
#coupendiv{
    margin: 20px 0px;
    background-color: white;
    font-size: 25px;
    font-weight: 550;
}
#coupendiv>input{
    width: 60%;
    height:20px ;
    padding-left: 10px;
}
#shipto{
    font-size: 25px;
    font-weight: 550;
}
form{
    font-size: 20px;
}
form>p{
    margin-left: 3px;
}
form>input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding-left:10px ;
}
#action{
    display: flex;
    justify-content: space-around;
}
#placeorder{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    background-color: rgb(55, 55, 247);
    color: white;
}
#cancelorder{
    padding: 5px;
    margin-bottom: 10px;
    font-size: 25px;
}