*{
    margin: 0;
    padding: 0;
}
.first_div>a{
    text-decoration: none;
    display: block;
    color: black;
}
.nav_switcher{
    padding: 0% 1%;
    height: 40px;
    border: 1px solid;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first_div{
    display: flex;
    flex-direction: row;
}
.first_div>a{
    margin: auto 1%;
    font-size: 18px;
}
.first_div>p{
    margin: auto 1%;
}
.first_div>img{
    margin: auto 1%;
    width: 5%;
}
.cb2{
    border: 1px solid ;
    padding: 0% 1%;
}
/* a:visited{
    font-weight: 700;
    text-decoration: underline rgb(46, 46, 46) 4px ;
    text-underline-offset: 12px;
} */
.heighlight:hover{
    font-weight: 700;
    text-decoration: underline rgb(46, 46, 46) 4px ;
    text-underline-offset: 12px;
}
